@font-face {
  font-family: 'Lasco';
  src: local('Lasco'), url('../fonts/lasco/lasco.woff2') format('woff2'), url('../fonts/lasco/lasco.woff') format('woff'), url('../fonts/lasco/lasco.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lasco';
  src: local('Lasco Bold'), local('Lasco-Bold'), url('../fonts/lasco/lascobold.woff2') format('woff2'), url('../fonts/lasco/lascobold.woff') format('woff'), url('../fonts/lasco/lascobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Relief';
  src: url('../fonts/comic-relief/ComicRelief.woff2') format('woff2'),
  url('../fonts/comic-relief/ComicRelief.woff') format('woff'),
  url('../fonts/comic-relief/ComicRelief.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: inherit;
  width: inherit;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  background-size: cover;
  font-family: 'Comic Relief', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  color: #000;
}
.logo,
.title,
.p,
.button-play-game {
  display: none;
}
.comments {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top: 15px solid #E0E0E0;
  -webkit-border-image: url('../assets/comments_border_top.svg') 15 round round;
  -o-border-image: url('../assets/comments_border_top.svg') 15 round round;
  border-image: url('../assets/comments_border_top.svg') 15 round round;
  width: 400px;
  background: #fff;
}

.comments::before {
  content: '';
  position: absolute;
  width: 20px;
  left: 0;
  top: -5px;
  bottom: -5px;
  background: url('../assets/comments_border_left.svg') center left repeat-y ;
  background-size: 15px auto;
}

.comments::after {
  content: '';
  position: absolute;
  width: 20px;
  right: 0;
  top: -5px;
  bottom: -5px;
  background: url('../assets/comments_border_right.svg') center right repeat-y ;
  background-size: 15px auto;
}

.comments__title {
  margin: 0;
  font-family: 'Lasco', sans-serif;
  line-height: 26px;
  font-size: 24px;
  color: #212121;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  border-bottom: 10px solid transparent;
}

.comments__title::before{
  content: '';
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  height: 15px;
  background: url('../assets/comments_border_title.svg') center repeat-x ;
  background-size: auto 15px;
  z-index: 100;
}

.comments__title::after{
  content: '';
  position: absolute;
  z-index: 100;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 10px;
  background: url('../assets/comments_border_title.svg') center repeat-x ;
  background-size: auto 15px;
}

.comments__inner {
  height: calc(100vh - 98px);
  width: calc(100% - 5px);
  position: relative;
}

.comments__list-inner {
  position: absolute;
  width: 100%;
  top: -2px;
  bottom: 118px;
  overflow-y: auto;
  overflow-x: hidden;
}

.comments__inner::after {
  content: '';
  position: absolute;
  bottom: 118px;
  height: 1px;
  background-color: black;
  left: 10px;
  right: 0;
}

.comments__list {
  list-style-type: none;
  padding: 20px 13px 20px 25px;
  margin: 0;
}

.comments__item {
  padding: 17px 16px 10px;
  border-top: 1px solid #E0E0E0;
  -webkit-transition: background-color 250ms ease-out, border 250ms ease-out;
  transition: background-color 250ms ease-out, border 250ms ease-out;
  cursor: pointer;
}

.comments__item:first-child {
  border-top: 1px solid transparent;
}

.comments__item:hover,
.comments__item--active {
  background-color: #EEEEEE;
  border-radius: 8px;
  border-top: 1px solid transparent;
}

.comments__item--active + .comments__item,
.comments__item:hover + .comments__item {
  border-top: 1px solid transparent;
}

.comments__item + .comments__item {
  margin-top: 0;
}

.comments__header {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lasco', sans-serif;
  line-height: 20px;
  font-size: 14px;
  color: #9E9E9E;
}

.comments__item:hover .comments__header,
.comments__item--active .comments__header {
  color: #E53935;
}

.comments__user {
  font-weight: 700;
}

.comments__message {
  font-family: 'Comic Relief', sans-serif;
  line-height: 27px;
  font-size: 16px;
  color: #212121;
}

.sharing {
  position: absolute;
  width: 310px;
  left: 40px;
  bottom: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sharing__link {
  padding: 0;
  margin: 0;
  display: block;
  background-size: contain;
  width: 64px;
  height: 64px;
  font-size: 0;
  border-radius: 6px;
}

.sharing__link--vk {
  background: url(../assets/socials_vk.svg) no-repeat center;
}

.sharing__link--vk:hover {
  background: url(../assets/socials_vk_hover.svg) no-repeat center;
}

.sharing__link--vk:active {
  background: url(../assets/socials_vk_active.svg) no-repeat center;
}

.sharing__link--facebook {
  background: url(../assets/socials_facebook.svg) no-repeat center;
}

.sharing__link--facebook:hover {
  background: url(../assets/socials_facebook_hover.svg) no-repeat center;
}

.sharing__link--facebook:active {
  background: url(../assets/socials_facebook_active.svg) no-repeat center;
}

.sharing__link--twitter {
  background: url(../assets/socials_twitter.svg) no-repeat center;
}

.sharing__link--twitter:hover {
  background: url(../assets/socials_twitter_hover.svg) no-repeat center;
}

.sharing__link--twitter:active {
  background: url(../assets/socials_twitter_active.svg) no-repeat center;
}

.sharing__link--help {
  margin-bottom: 12px;
  background: url(../assets/question.svg) no-repeat center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.close-help {
  position: fixed;
  right: 437px;
  top: 45px;
  width: 44px;
  height: 44px;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  background: url(../assets/close_btn.svg) no-repeat center;
  background-size: contain;
  cursor:pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


@media(max-width: 768px) {

  body {
    background: url(../assets/cap_tablet768x1024.jpg) no-repeat center#000;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    background-size: cover;
  }
  .logo {
    max-width: 537px;
    width: 100%;
    margin: 0 auto 35px;
    display: block;
  }

  .content {
    display: block;
  }

  .content p {
    display: block;
    max-width: 598px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .content p + p {
    display: block;
    margin-top: 25px;
  }

  .button-play-game {
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lasco', sans-serif;;
    font-style: normal;
    line-height: 36px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #E53935;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    max-width: 380px;
    width: 100%;
    margin: 35px auto 0;
    background: url(../assets/btn-play.png) no-repeat center;
    background-size: contain;
  }

  /*.button-play-game:hover {*/
  /*background: url(../assets/btn-play-hover.png) no-repeat center;*/
  /*}*/

  /*.button-play-game:active {*/
  /*background: url(../assets/btn-play-active.png) no-repeat center;*/
  /*}*/
}

@media(max-width: 440px) {
  body {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../assets/cap_mobile320x568.jpg) no-repeat center#000;
    line-height: 20px;
    font-size: 12px;
    background-size: cover;
  }

  .logo {
    margin: 0 auto 20px;
  }

  .content p + p {
    display: block;
    margin-top: 10px;
  }

  .button-play-game {
    margin-top: 20px;
    max-width: 170px;
    height: 27px;
    line-height: 16px;
    font-size: 11px;
    text-align: center;
    background-size: contain;
    background: url(../assets/btn-play.png) no-repeat center;

  }
}




